.user-list-tpl{

  h1{
    color: azure;
    margin: 2% 0;
  }

  .user-item-row{
    background-color: rgba(255,255,255,.7);
    padding: 15px;
    margin:10px 0;
    border:1px #ccc solid;
    border-radius: 10px;
    img{
      width:60px;
      height:60px;
      padding: 3px;
      background-color: #28a745;
      border-radius: 50%;
    }
  }
}
