
.user-list-tpl{
  .user-item-row{
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin:10px 0;
    border:1px #ccc solid;
    border-radius: 10px;
    display: flex;
    .user-img{
      width:100%;
      padding-top: 100%;
      background-color: #625029;
      border-radius: 50%;
      position: relative;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        padding: 3px;
        border-radius: 50%;
      }
    }
    .user-name:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .user-name{
      vertical-align: middle;
      a{
        color: #625029;
        font-size: 24px;
        line-height: 28px;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        padding-right: 15px;
        vertical-align: middle;
      }
      .glyphicon-trash{
        position: absolute;
        right: 0;
        top: 7px;
        color: crimson;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  .pager{
    a{
      padding: 5px;
      color: azure;
      cursor: pointer;
      font-size: 16px;
    }
  }
}


@media (max-width: 400px) {
  .user-list-tpl {
    .user-item-row {
      .user-name {
        a{
          font-size: 18px;
        }
        .glyphicon-trash {
          font-size: 14px;
        }
      }
    }
  }
}
