@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ngx-toastr/toastr";
@import './variables';
@import './mixins';

html{
  // asd
  height: 100%;
  body{
    background-image: url(../img/girl.jpg);
    background-color: #68532f;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    h1 , h2{
      color: azure;
      margin: 5px 0;
    }
    nav{
      a{
        color: azure;
        font-size: 20px;
        &:hover{
          color: azure;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  html{
    body{
      nav{
        a{
          font-size: 14px;
        }
      }
    }
  }

}
